---
import ImagePageLayout from "@/layouts/ImagePageLayout.astro";

import img from "@/imgtest/imgtest2.jpg";
---

<ImagePageLayout image={img} redirectLink="/imgpage/1" autoRedirectSeconds={2}>
  <div class="flex h-screen w-full items-center justify-center">
    <h1 class="animate-bounce text-xl font-bold">Yoo</h1>
  </div>
</ImagePageLayout>
