---
import Name from '@/component/namebox/name';
import BaseLayout from '@/layouts/BaseLayout.astro';
---
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>name</title>
  </head>
  <body>
    <BaseLayout>
      <Name client:load />
    </BaseLayout>
  </body>
</html>
