---
import BaseLayout from "@/layouts/BaseLayout.astro";

import TextBubble from "@/components/TextBubble";

---

<BaseLayout>
  <div class="flex h-screen w-full flex-col items-center justify-center">
    <TextBubble
      name="Larngear Dev"
      text={"Hello World!"}
      className="bg-intania text-white"
    />
    <a href="/story/start">
      <TextBubble
        name="Larngear Dev"
        text={"เริ่มกันเลย!"}
        className="bg-intania text-white"
      />
    </a>
  </div></BaseLayout
>
