---
import BaseLayout from "@/layouts/BaseLayout.astro";
import textbubble from "@/components/Textbubble.astro";
---

<BaseLayout>
  <div class="flex h-screen w-full items-center justify-center">
    <h1 class="animate-bounce text-xl font-bold">Hello, World!</h1>
  </div>
</BaseLayout>
