---
import BaseLayout from "@/layouts/BaseLayout.astro";

import AnswerComponent from "@/components/question/AnswerComponent";

import type IAnswer from "@/types/answer";

const testAnswers = [
  { text: "ตัดต้นไม้แถวนี้เลยละกัน!!", attribute: "a" },
  { text: "ปกติพวกเธอขนมาจากไหน เดี๋ยวไปช่วย", attribute: "b" },
  { text: "ลองสร้างอีกแบบไหม จะได้ประหยัดไม้", attribute: "c" },
  { text: "ที่นี่เป็นดินแดนวิเศษหนิ มีโดเรม่อนไหมอะ", attribute: "d" },

  {
    text: "ที่นี่เป็นดินแดนวิเศษหนิมีโดเรม่อนไหมอะที่นี่เป็นดินแดนวิเศษหนิมีโดเรม่อนไหมอะ",
    attribute: "e",
  },
] as IAnswer[];
---

<BaseLayout>
  <div class="flex h-screen w-full flex-col items-center justify-center">
    <h1 class="mb-4 w-full max-w-sm break-words text-xl font-bold">
      บีเวอร์ : เยี่ยมไปเลย แต่ตอนนี้พวกเรากำลังต้องการไม้เพิ่มน่ะสิ
    </h1>
    <AnswerComponent answers={testAnswers} client:only />
  </div>
</BaseLayout>
