---
interface Props {
  name: string;
  text: string;
}

const { text, name } = Astro.props;
---

<div class="m-auto bg-orange-400 border-3 border-white rounded-lg w-80 h-fit mt-20" >
  <p class="text-sm text-left	ml-2.5 mt-2.5 mb-2.5 break-words "><b>{name}</b> : {text}</p>
</div>


