---
import ImagePageLayout from "@/layouts/ImagePageLayout.astro";

import img from "@/assets/imgtest/imgtest1.jpg";
---

<ImagePageLayout image={img}>
  <div class="flex h-screen w-full items-center justify-center">
    <h1 class="animate-bounce text-xl font-bold">Yoo</h1>
  </div>
</ImagePageLayout>
