---
import BaseLayout from "@/layouts/BaseLayout.astro";

import StartingScene from "@/components/StartingScene";
import MuteButton from '@/components/MuteButton'

---

<BaseLayout>
  <div class="min-h-screen w-full bg-[#303030]">
    <MuteButton client:load />

    <StartingScene client:only />
  </div>
</BaseLayout>
