---
import ImagePageLayout from "@/layouts/ImagePageLayout.astro";

import Tap from "@/components/Tap";
import TextBubble from "@/components/TextBubble";

import BackgroundImage from "@/assets/story/scene-0/0-05.webp";
import BackgroundImageLow from "@/assets/story/scene-0/0-05-low.webp";
---

<ImagePageLayout
  backgroundColor="bg-[#303030]"
  image={BackgroundImage}
  imageLowRes={BackgroundImageLow}
>
  <div class="absolute top-20 flex w-full justify-center">
    <TextBubble
      name="???"
      text={"อ่า...เห้ย! แมวพูดได้!?"}
      className="bg-user"
    />
  </div>
  <Tap delay={0.5} redirectUrl="/story/0-05" client:load />
</ImagePageLayout>
