---
import ImagePageLayout from "@/layouts/ImagePageLayout.astro";

import Tap from "@/components/TempTap";
import TextBubble from "@/components/TextBubble";

import BackgroundImage from "@/assets/story/scene-0/10.webp";
---

<ImagePageLayout backgroundColor="bg-[#303030]" image={BackgroundImage}>
  <div class="absolute top-20 flex w-full justify-center">
    <TextBubble
      name="???"
      texts={["แล้วที่นี่ที่ไหนเนี่ย!?"]}
      className="bg-user"
    />
  </div>
  <Tap delay={0.5} redirectUrl="/story/0-06" client:only />
</ImagePageLayout>
