---
import ImagePageLayout from "@/layouts/ImagePageLayout.astro";

import Tap from "@/components/Tap";
import TextBubble from "@/components/TextBubble";

import BackgroundImage from "@/assets/story/scene-0/0-07.webp";
import BackgroundImageLow from "@/assets/story/scene-0/0-07-low.webp";
---

<ImagePageLayout
  backgroundColor="bg-[#303030]"
  image={BackgroundImage}
  imageLowRes={BackgroundImageLow}
>
  <div class="absolute top-20 flex w-full justify-center">
    <TextBubble
      name="ชาไทย"
      text={"เธอใจเย็นก่อน เริ่มอย่างนี้ละกัน  เรา 'ชาไทย' แมวผู้ดูแลดินแดนนี้ ดินแดน Intanialand ดินแดนแห่งจินตนาการที่เต็มไปด้วยความมหัศจรรย์และความหลากหลายของเมือง แต่ละเมืองก็จะมีคาแรคเตอร์โดดเด่นเป็นของตนเองด้วย"}
      className="bg-chathai"
    />
  </div>
  <Tap delay={0.5} redirectUrl="/story/0-07" color="text-black" client:load />
</ImagePageLayout>
