---
import ImagePageLayout from "@/layouts/ImagePageLayout.astro";

import Tap from "@/components/Tap";
import TextBubble from "@/components/TextBubble";

import BackgroundImage from "@/assets/story/scene-0/0-07.webp";
---

<ImagePageLayout backgroundColor="bg-[#303030]" image={BackgroundImage}>
  <div class="absolute top-20 flex w-full justify-center">
    <TextBubble
      name="ชาไทย"
      text={"อะไรสักอย่างยาว ๆ ขี้เกียจเขียน...."}
      className="bg-chathai"
    />
  </div>
  <Tap delay={0.5} redirectUrl="/story/0-07" color="text-black" client:load />
</ImagePageLayout>
