---
import ImagePageLayout from "@/layouts/ImagePageLayout.astro";

import TextBubble from "@/components/TextBubble";
import NameInput from "@/components/inputs/NameInput";

import BackgroundImage from "@/assets/story/scene-0/0-08.webp";
---

<ImagePageLayout backgroundColor="bg-[#303030]" image={BackgroundImage}>
  <div class="absolute top-20 flex w-full justify-center">
    <TextBubble
      name="ชาไทย"
      text={"เล่ามาตั้งนาน ว่าแต่เธอชื่ออะไรหรอ"}
      className="bg-chathai"
    />
  </div>
  <NameInput redirectUrl="/story/0-08" client:load />
</ImagePageLayout>
