---
import ImagePageLayout from "@/layouts/ImagePageLayout.astro";

import Tap from "@/components/TempTap";
import TextBubble from "@/components/TextBubble";

import BackgroundImage from "@/assets/story/scene-0/13.webp";
---

<ImagePageLayout backgroundColor="bg-[#303030]" image={BackgroundImage}>
  <div class="absolute top-20 flex w-full justify-center">
    <TextBubble
      name="ชาไทย"
      text={
        "ยินดีที่ได้รู้จักนะ %USERNAME%! ไหน ๆ ก็มาถึงที่นี่แล้ว ถ้าอยากเดินทัวร์ Intanialand ซักหน่อย ก็เดินตามเรามานะ"
      }
      className="bg-chathai"
      client:only
    />
  </div>
  <Tap delay={0.5} redirectUrl="/story/0-09" client:load />
</ImagePageLayout>
