---
import ImagePageLayout from "@/layouts/ImagePageLayout.astro";

import TextBubble from "@/components/TextBubble";

import BackgroundImage from "@/assets/story/scene-0/14.webp";
import AnswerComponent from "@/components/inputs/AnswerComponent";
---

<ImagePageLayout backgroundColor="bg-[#303030]" image={BackgroundImage}>
  <div class="absolute top-20 flex w-full justify-center">
    <TextBubble
      name="%USERNAME%"
      text={"น่าสนใจจัง ฉันว่าดินแดนนี้เป็นดินแดนที่..."}
      className="bg-user"
      client:only
    />
  </div>

  <AnswerComponent
    answers={[
      { text: "มีของวิเศษและเวทมนตร์", attribute: "A" },
      { text: "ลึกลับ น่าค้นหา", attribute: "B" },
      { text: "เต็มไปด้วยการผจญภัย", attribute: "C" },
      { text: "สั่งสมอารยธรรมและผู้คนหลากหลาย", attribute: "D" },
    ]}
    redirectUrl="/story/0-10"
    client:only
  />
</ImagePageLayout>
