---
import ImagePageLayout from "@/layouts/ImagePageLayout.astro";

import TextBubble from "@/components/TextBubble";

import BackgroundImage from "@/assets/story/scene-0/0-10.webp";
import AnswerComponent from "@/components/inputs/AnswerComponent";
---

<ImagePageLayout backgroundColor="bg-[#303030]" image={BackgroundImage}>
  <div class="absolute top-20 flex w-full justify-center">
    <TextBubble
      name="%USERNAME%"
      text={"น่าสนใจจัง ฉันว่าดินแดนนี้เป็นดินแดนที่..."}
      className="bg-user"
      client:only="react"
    />
  </div>

  <AnswerComponent
    answers={[
      { text: "มีเรื่องราวลึกลับ น่าค้นหา", attribute: "Ni" },
      { text: "เต็มไปด้วยการผจญภัย", attribute: "Se" },
      { text: "สัตว์ทุกตัวพูดได้เหมือนแมวนี่", attribute: "Si" },
      { text: "เป็นสวรรค์บนบก นรกบนดิน", attribute: "Ne" },
    ]}
    redirectUrl="/story/0-10"
    client:only="react"
  />
</ImagePageLayout>
