---
import ImagePageLayout from "@/layouts/ImagePageLayout.astro";

import Tap from "@/components/Tap";
import TextBubble from "@/components/TextBubble";

import BackgroundImage from "@/assets/story/scene-1/1-02.webp";
---

<ImagePageLayout backgroundColor="bg-[#303030]" image={BackgroundImage}>
  <div class="absolute top-20 flex w-full justify-center">
    <TextBubble
      name="%USERNAME%"
      text={"ทำไมตรงนั้นดูวุ่น ๆ นะ สงสัยจะมีปัญหาแน่เลย"}
      className="bg-user"
      client:only
    />
  </div>
  <Tap delay={0.5} redirectUrl="/story/1-03" client:load />
</ImagePageLayout>
