---
import ImagePageLayout from "@/layouts/ImagePageLayout.astro";

import TextBubble from "@/components/TextBubble";

import BackgroundImage from "@/assets/story/scene-1/1-02.webp";
import AnswerComponent from "@/components/inputs/AnswerComponent";
---

<ImagePageLayout backgroundColor="bg-[#303030]" image={BackgroundImage}>
  <div class="absolute top-20 flex w-full justify-center">
    <TextBubble
      name="%USERNAME%"
      text={"ทำไมตรงนั้นดูวุ่น ๆ นะ สงสัยจะมีปัญหาแน่เลย"}
      className="bg-user"
      client:only="react"
    />
  </div>

  <AnswerComponent
    answers={[
      { text: "ทำยังไงให้งานออกมาสมบูรณ์", attribute: "A" },
      { text: "รีบเข้าไปช่วยดีกว่า งานจะได้เสร็จไวๆ", attribute: "B" },
      {
        text: "พวกเขาน่าจะต้องการความช่วยเหลือนะ เข้าไปช่วยดีกว่า",
        attribute: "C",
      },
      { text: "น่าสนใจจัง เข้าไปดูดีกว่า", attribute: "D" },
    ]}
    redirectUrl="/story/1-04"
    client:only="react"
  />
</ImagePageLayout>
