---
import ImagePageLayout from "@/layouts/ImagePageLayout.astro";

import Tap from "@/components/Tap";
import TextBubble from "@/components/TextBubble";

import BackgroundImage from "@/assets/story/scene-1/04.webp";
---

<ImagePageLayout backgroundColor="bg-[#303030]" image={BackgroundImage}>
  <div class="absolute top-20 flex w-full justify-center">
    <TextBubble
      name="%USERNAME%"
      text={"สวัสดี ! เรา %USERNAME% นะ เธอดูวุ่น ๆ นะ มีอะไรที่เราพอจะช่วยได้มั้ย ?"}
      className="bg-user"
      client:only
    />
  </div>
  <Tap delay={0.5} redirectUrl="/story/1-05" client:load />
</ImagePageLayout>
