---
import ImagePageLayout from "@/layouts/ImagePageLayout.astro";

import Tap from "@/components/Tap";
import TextBubble from "@/components/TextBubble";

import BackgroundImage from "@/assets/story/scene-1/06.webp";
---

<ImagePageLayout backgroundColor="bg-[#303030]" image={BackgroundImage}>
  <div class="absolute top-20 flex w-full justify-center">
    <TextBubble
      name="บีเวอร์"
      text={"เยี่ยมเลย ! ทีนี้ก็ตามเรามา เดี๋ยวจะเราจะพาไปดูงานนั้นเอง"}
      className="bg-beaver"
    />
  </div>
  <Tap delay={0.5} redirectUrl="/story/1-10" client:load />
</ImagePageLayout>
