---
import ImagePageLayout from "@/layouts/ImagePageLayout.astro";

import BackgroundImage from "@/assets/story/scene-1/1-07.webp";
import AnswerComponent from "@/components/inputs/AnswerComponent";
---

<ImagePageLayout backgroundColor="bg-[#303030]" image={BackgroundImage}>
  <div class="absolute top-20 flex w-full justify-center">
    <div
      class="h-fit w-80 select-none rounded-xl border-4 border-white bg-[#FF8B74]"
    >
      <div
        class="mb-2.5 ml-2.5 mt-2.5 break-words text-center text-sm font-semibold"
      >
        <p>คุณจึงตอบกลับว่า...</p>
      </div>
    </div>
  </div>

  <AnswerComponent
    answers={[
      { text: "ใช่แล้ว มันออกมาดีมากเลยล่ะ", attribute: "Ti" },
      { text: "ทุกคนเก่งมาก ภารกิจสำเร็จแล้ว", attribute: "Te" },
      { text: "ดีใจที่ได้เห็นทุกคนช่วยเหลือกันนะ", attribute: "Fe" },
      { text: "ไม่เป็นไร พวกเธออยากให้เราช่วยนี่นา", attribute: "Fi" },
    ]}
    redirectUrl="/story/1-13"
    client:only="react"
  />
</ImagePageLayout>
