---
import ImagePageLayout from "@/layouts/ImagePageLayout.astro";

import BackgroundImage from "@/assets/story/scene-2/2-07.webp";
import Tap from "@/components/Tap";
import TextBubble from "@/components/TextBubble";
---

<ImagePageLayout backgroundColor="bg-[#303030]" image={BackgroundImage}
  ><div class="absolute top-20 flex w-full justify-center">
    <TextBubble
      name="%USERNAME% (คิด)"
      text={"เอ๊ะ !! นั่นอะไรน่ะ ?!?"}
      className="bg-user"
    />
  </div>
  <Tap
    delay={0.5}
    redirectUrl="/story/2-07-1"
    color="text-black"
    client:load
  /></ImagePageLayout
>
