---
import ImagePageLayout from "@/layouts/ImagePageLayout.astro";

import TextBubble from "@/components/TextBubble";
import AnswerComponent from "@/components/inputs/AnswerComponent";

import BackgroundImage from "@/assets/story/scene-2/2-11.webp";
---

<ImagePageLayout backgroundColor="bg-[#303030]" image={BackgroundImage}>
  <div class="absolute top-20 flex w-full justify-center">
    <TextBubble
      name="ชาไทย"
      text={"โรงงานนี้ใหญ่เลยมีระบบที่หลากหลาย เธออยากไปดูงานส่วนไหน"}
      className="bg-chathai"
    />
  </div>
  <AnswerComponent
    answers={[
      { text: "การวิจัยพัฒนาระบบภายใน", attribute: "Ni" },
      { text: "ประกอบชิ้นส่วนเครื่องบิน", attribute: "Se" },
      { text: "ควบคุมการผลิต ระบบโรงงาน", attribute: "Si" },
      {
        text: "โปรเจกต์ออกแบบฟังก์ชั่นใหม่",
        attribute: "Ne",
      },
    ]}
    redirectUrl="/story/2-15"
    client:only="react"
  />
</ImagePageLayout>
