---
import ImagePageLayout from "@/layouts/ImagePageLayout.astro";

import BackgroundImage from "@/assets/story/scene-2/2-18.webp";
import TextBubble from "@/components/TextBubble";
import Tap from "@/components/Tap";
---

<ImagePageLayout backgroundColor="bg-[#303030]" image={BackgroundImage}>
  <div class="absolute top-20 flex w-full justify-center">
    <div class="mb-12 flex flex-col items-center space-y-3">
      <TextBubble
        name="ชาไทย"
        text={"พวกเรารีบไปดูข้างในกันเถอะ!"}
        className="bg-chathai"
      />
      <TextBubble
        name="%USERNAME%"
        text={"งั้นรีบกันเถอะ"}
        className="bg-user"
      />
    </div>
  </div>
  <Tap delay={0.5} redirectUrl="/story/2-18-1" client:load />
</ImagePageLayout>
