---
import ImagePageLayout from "@/layouts/ImagePageLayout.astro";

import BackgroundImage from "@/assets/story/scene-2/2-20.webp";
import BackgroundImageLow from "@/assets/story/scene-2/2-20-low.webp";

import TextBubble from "@/components/TextBubble";
import Tap from "@/components/Tap";
---

<ImagePageLayout
  backgroundColor="bg-[#303030]"
  image={BackgroundImage}
  imageLowRes={BackgroundImageLow}
>
  <div class="absolute top-20 flex w-full justify-center">
    <TextBubble
      name="ชาไทย"
      text={"ปล่อยไว้แบบนี้ไม่ดีแน่ เราจำเป็นต้องไปแก้ปัญหาที่ “ศูนย์ปฏิบัติการแห่งอนาคต”  แล้วล่ะ"}
      className="bg-chathai"
    />
  </div>
  <Tap
    delay={0.5}
    redirectUrl="/story/2-20-02"
    color="text-black"
    client:load
  />
</ImagePageLayout>
