---
import ImagePageLayout from "@/layouts/ImagePageLayout.astro";

import BackgroundImage from "@/assets/story/scene-2/2-20.webp";
import TextBubble from "@/components/TextBubble";
import Tap from "@/components/Tap";
---

<ImagePageLayout backgroundColor="bg-[#303030]" image={BackgroundImage}>
  <div class="absolute top-20 flex w-full justify-center">
    <TextBubble
      name="กระทิงกล้ามโต"
      text={"ในที่สุดมันก็กลับมาปกติ ขอบใจอีกครั้งนะ %USERNAME% "}
      className="bg-bull"
      client:only
    />
  </div>
  <Tap delay={0.5} redirectUrl="/story/2-20-1" color="text-black" client:load />
</ImagePageLayout>
