---
import ImagePageLayout from "@/layouts/ImagePageLayout.astro";

import Tap from "@/components/Tap";

import BackgroundImage from "@/assets/story/scene-2/2-22.webp";
---

<ImagePageLayout backgroundColor="bg-[#303030]" image={BackgroundImage}>
  <div class="absolute top-20 flex w-full justify-center">
    <div
      class="h-fit w-80 select-none rounded-xl border-4 border-white bg-white"
    >
      <div
        class="mb-2.5 ml-2.5 mt-2.5 break-words text-center text-sm font-semibold"
      >
        <p>
          คุณและชาไทย บอกลาเหล่าวิศวกรในโรงงานเครื่องบิน
          และก้าวต่อไปยังดินแดนที่สาม…
        </p>
      </div>
    </div>
  </div>
  <Tap delay={0.5} redirectUrl="/story/3-01" color="text-black" client:load />
</ImagePageLayout>
