---
import ImagePageLayout from "@/layouts/ImagePageLayout.astro";

import Tap from "@/components/Tap";
import TextBubble from "@/components/TextBubble";

import BackgroundImage from "@/assets/story/scene-3/06.webp";
---

<ImagePageLayout backgroundColor="bg-[#303030]" image={BackgroundImage}>
  <div class="absolute top-20 flex w-full justify-center">
    <TextBubble
      name="Engine"
      text={"เธออยากทำตำแหน่งไหนในงานนี้ไหม ?"}
      className="bg-engine"
      client:only
    />
  </div>
  <Tap delay={0.5} redirectUrl="/story/3-08" client:load />
</ImagePageLayout>
