---
import ImagePageLayout from "@/layouts/ImagePageLayout.astro";

import Tap from "@/components/Tap";import TextBubble from "@/components/TextBubble";

import BackgroundImage from "@/assets/story/scene-3/09.webp";
---

<ImagePageLayout backgroundColor="bg-[#303030]" image={BackgroundImage}>
  <div class="absolute top-20 flex w-full justify-center">
    <TextBubble
      name="Engine"
      text={"ยะ . . . แย่แล้ว ! คอมดับ ทำยังไงดี !!!"}
      className="bg-engine"
      client:only
    />
  </div>
  <Tap delay={0.5} redirectUrl="/story/3-12" client:load />
</ImagePageLayout>
