---
import ImagePageLayout from "@/layouts/ImagePageLayout.astro";

import AnswerComponent from "@/components/inputs/AnswerComponent";
import TextBubble from "@/components/TextBubble";

import BackgroundImage from "@/assets/story/scene-3/09.webp";
---

<ImagePageLayout backgroundColor="bg-[#303030]" image={BackgroundImage}>
  <div class="absolute top-20 flex w-full justify-center">
    <TextBubble
      name="%USERNAME%"
      text={"งั้นลอง . . ."}
      className="bg-user"
      client:only
    />
  </div>

  <AnswerComponent
    answers={[
      { text: "พยายามวิเคราะห์ถึงสาเหตุที่คอมดับ", attribute: "A" },
      { text: "ลองตบ ลองซ่อม เช็กว่าสายไฟหลุดไหม", attribute: "B" },
      { text: "ครั้งก่อนเคยเกิดปัญหาแบบนี้มั้ย ตอนนั้นแก้ยังไง", attribute: "C" },
      { text: "หาพระมาห้อย เอายันต์มาแปะ ต้องมูเท่านั้น", attribute: "D" },
    ]}
    redirectUrl="/story/3-14"
    client:only
  />
</ImagePageLayout>
