---
import ImagePageLayout from "@/layouts/ImagePageLayout.astro";

import Tap from "@/components/Tap";
import TextBubble from "@/components/TextBubble";

import BackgroundImage from "@/assets/story/scene-4/03.webp";
---

<ImagePageLayout backgroundColor="bg-[#303030]" image={BackgroundImage}>
  <div class="absolute top-20 flex w-full justify-center">
    <div class="mb-12 flex flex-col items-center">
      <TextBubble
        name="%USERNAME%"
        text={"ชาไทยบาดเจ็บอะไรไหม"}
        className="bg-user"
        client:only="react"
      />
    </div>
  </div>
  <Tap delay={0.5} redirectUrl="/story/4-06" client:load />
</ImagePageLayout>
