---
import ImagePageLayout from "@/layouts/ImagePageLayout.astro";

import Tap from "@/components/Tap";
import TextBubble from "@/components/TextBubble";

import BackgroundImage from "@/assets/story/scene-4/07.webp";
---

<ImagePageLayout backgroundColor="bg-[#303030]" image={BackgroundImage}>
  <div class="absolute top-20 flex w-full justify-center">
    <div class="mb-12 flex flex-col items-center">
        <TextBubble
        name="ชาไทย"
        text={"ขอให้เธอรักษาอัญมณีนี้ ที่เปรียบดั่งตัวตนของเธอไว้ ให้เปล่งประกายอย่างมีความสุขอยู่เสมอนะ"}
        className="bg-chathai"
        />
    </div>
  </div>
  <Tap delay={0.5} redirectUrl="/story/4-11" client:load />
</ImagePageLayout>