---
import ImagePageLayout from "@/layouts/ImagePageLayout.astro";

import Tap from "@/components/Tap";
import TextBubble from "@/components/TextBubble";

import BackgroundImage from "@/assets/story/scene-4/09.webp";
---

<ImagePageLayout backgroundColor="bg-[#303030]" image={BackgroundImage}>
  <div class="absolute top-20 flex w-full justify-center">
    <div class="mb-12 flex flex-col items-center">
        <TextBubble
        name="ชาไทย"
        text={"ดีใจที่ได้พบกัน เราจะคอยเป็นกำลังใจให้เธอนะ"}
        className="bg-chathai"
        />
        <TextBubble
        name="ชาไทย"
        text={"ลาก่อนนะ %USERNAME%"}
        className="bg-chathai"
        />
    </div>
  </div>
  <Tap delay={0.5} redirectUrl="/story/4-16" client:load />
</ImagePageLayout>