---
import EndingScene from "@/components/EndingScene";
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout>
  <div class="min-h-screen w-full bg-[#303030]">
    <EndingScene client:only="react" />;
  </div>
</BaseLayout>
