---
import BaseLayout from "@/layouts/BaseLayout.astro";

import StartButton from "@/components/start/StartButton.astro";
---

<BaseLayout>
  <main class="flex min-h-screen w-full bg-[#303030]">
    <div class="flex items-center justify-center">
      <StartButton />
    </div>
  </main>
</BaseLayout>
