---
import "@fontsource/chakra-petch/300.css";
import "@fontsource/chakra-petch/400.css";
import "@fontsource/chakra-petch/500.css";
import "@fontsource/chakra-petch/600.css";
import "@fontsource/chakra-petch/700.css";

import { ViewTransitions } from "astro:transitions";

import MuteButton from "@/components/MuteButton";
import BackgroundMusic from "@/components/BackgroundMusic";

interface Props {
  title?: string;
  bgm?: boolean;
}

const { title = "Gem of Your Soul", bgm = true } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <!-- Google tag (gtag.js) -->
    <script
      is:inline
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-LRBRJ3TDDW"></script>
    <script is:inline>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-LRBRJ3TDDW");
    </script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <ViewTransitions />
    <slot name="head" />
    <title>{title}</title>
  </head>
  <body>
    <main
      class="absolute left-1/2 -z-50 flex min-h-dvh w-full max-w-md -translate-x-1/2 overflow-hidden bg-gray-100"
    >
      {bgm && <MuteButton client:only="react" />}
      <slot />
    </main>
    {bgm && <BackgroundMusic client:only="react" transition:persist />}
  </body>
</html>

<style is:global>
  body {
    font-family: "Chakra Petch", sans-serif;
  }
</style>
