---
import { Image } from "astro:assets";

import BaseLayout from "./BaseLayout.astro";

interface Props {
  title?: string;
  redirectUrl?: string;
  redirectInterval?: number;
  image: ImageMetadata;
}

const { title, redirectUrl, redirectInterval, image } = Astro.props;

if (redirectInterval && redirectUrl) {
  await new Promise((resolve) => setTimeout(resolve, redirectInterval * 1000));
}
---

<BaseLayout
  title={title}
  redirectUrl={redirectUrl}
  redirectInterval={redirectInterval}>
  <div
    class="absolute z-10 h-full w-full bg-cover bg-center"
    style={`background-image: url(${image.src});`}>
    <slot />
  </div>
</BaseLayout>
