---
import cn from "@/utils/cn";

import BaseLayout from "./BaseLayout.astro";

import Redirector from "@/components/Redirector";

interface Props {
  title?: string;
  redirectUrl?: string;
  redirectInterval?: number;
  image: ImageMetadata;
  backgroundColor?: string;
}

const { title, redirectUrl, redirectInterval, image, backgroundColor } =
  Astro.props;
---

<BaseLayout title={title}>
  <div
    class={cn(
      "absolute z-10 h-full w-full bg-cover bg-center",
      backgroundColor,
    )}
    style={`background-image: url(${image.src});`}>
    <slot />
  </div>
  {
    redirectUrl && redirectInterval && (
      <Redirector
        redirectUrl={redirectUrl}
        redirectInterval={redirectInterval}
        client:only
      />
    )
  }
</BaseLayout>
